.App {
  text-align: center;
}

 .nav-links {
  width: 40%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/*
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: black;
  color: white;
  list-style: none;
} */

/* .standard-page {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
} */

/* .standard-left{
  background-color: blue;
  flex: 1 3 100px; 
  max-width: 100px;
}

.standard-body{
  background-color: yellowgreen;
  flex: none;        
  width: auto;
}

.standard-aside{
  background-color: brown;
  flex: auto auto 4; 
  height: 900px;
  max-width: 100px;
} */

/* NEW STUFF */
/**************************************
STATIC LAYOUT CSS
**************************************/

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
	width: 960px;
}

nav, section {
  float: left;
}

nav {
  width: 200px;
  margin-right: 10px;
  list-style: none;
}

section {
  width: 750px;
}



/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #2980b9;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

header,
nav,
section {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}

header {
  padding: 20px 0;
}

nav, section {
  padding: 200px 0;
}

.resume-style{
  text-align: left;
}

.python-code {
  text-align: left;
}

pre{
  background-color: tan;
  color: black;
}

img{
  max-width: 200px;
  max-height: 95px;
}